:root {
  /* Primary Colors */
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral Colors */
  --clr-dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* To change rem to 10base */
  font-size: 62.5%;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--clr-very-dark-desaturated-blue);
  background-color: var(--clr-dark-cyan);
  min-height: 100vh;
  /* To center the component */
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  font-style: italic;
  /* for alt text */
}

.card-container {
  position: relative;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.5);
  border-radius: 1.5rem;
  overflow: hidden;
}

.card__img img {
  border: 5px solid #fff;
  border-radius: 50%;
  margin-top: -48px;
  margin-bottom: 2.4rem;
}

.card__title {
  display: flex;
  align-items: center;
  gap: 8.5px;
  margin-bottom: 1.3rem;
}

.card__age,
.card__location {
  font-weight: 400;
  color: var(--clr-dark-gray);
}

.card__location {
  font-size: 1.4rem;
  margin-bottom: 2.8rem;
}

.card__divider {
  width: 100%;
  border: 1px solid hsla(228, 9%, 92%, 1);
  margin-bottom: 2.4rem;
}
.card__stats {
  display: flex;
  gap: 4.6rem;
}

.card__stat {
  text-align: center;
}

.card__stat-type {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-dark-gray);
  margin-top: 9px;
  margin-bottom: 2.7rem;
}

.circle-top {
  position: absolute;
  top: -30vw;
  left: -10vw;
  width: 60vw;
}

.circle-bottom {
  position: absolute;
  bottom: -36vw;
  right: -10vw;
  width: 60vw;
}

@media (max-width: 430px) {
  .circle-top {
    top: -20vw; /* Adjust the position to better align with the card */
    left: -30vw; /* Adjust the position to better align with the card */
    width: 80vw; /* Adjust width to fit the smaller screen */
  }

  .circle-bottom {
    bottom: -20vw; /* Adjust the position to better align with the card */
    right: -20vw; /* Adjust the position to better align with the card */
    width: 80vw; /* Adjust width to fit the smaller screen */
  }
}
